---
import Bento from "../components/Bento.astro";
import Layout from "../layouts/Layout.astro";
import LogoIcon from "../icons/LogoIcon.astro";
import SectionContainer from "../layouts/SectionContainer.astro";
---

<Layout title="Welcome to Astro.">
	<main class="overflow-x-hidden">
		<section class="relative max-h-screen">
			<div
				class="flex items-center justify-center w-full max-w-8xl min-h-screen max-h-full mx-auto lg:px-5"
			>
				<div class="pointer-events-none">
					<p class="text-2xl text-center uppercase">
						Escape to <span class="block font-playfair text-7xl"
							>extraordinary</span
						>
					</p>
				</div>
			</div>
		</section>

		<SectionContainer
			class={`before:block before:absolute before:top-0 before:left-2/4 before:w-[1px] before:h-[80px] before:bg-fourth before:pointer-events-none before:translate-x-1/2 pt-20 z-10`}
		>
			<article class="py-14 text-center">
				<header class="mb-6">
					<h1 class="uppercase leading-tight tracking-wider">
						Mountain lodge telluride
					</h1>

					<h2
						class="mb-8 uppercase leading-snug tracking-widest font-playfair text-5xl text-primary"
					>
						Simply sensational
					</h2>
				</header>

				<div class="max-w-4xl mx-auto pt-8">
					<p class="max-w-[75ch] mx-auto text-pretty">
						Set above the Victorian mining town of Telluride, amid the
						spectacular peaks and magnificent canyons of the San Juan range,
						Mountain Lodge Telluride is a retreat built for adventure seekers.
						Experience a mountainside refuge that’s just a scenic gondola ride
						from the vibrant town center. Boasting the convenience of fully
						furnished units along with modern resort amenities, this is where
						the allure of the mountains finds its way home.
					</p>
				</div>
			</article>
		</SectionContainer>

		<SectionContainer>
			<div
				class:list={[
					"relative min-h-screen -mt-40",
					"before:absolute before:top-0 before:bottom-0 before:left-3/4 before:w-1/2 before:bg-gradient-to-r from-transparent via-white to-transparent before:z-0",
					"after:absolute after:top-0 after:bottom-0 after:right-3/4 after:w-1/2 after:bg-gradient-to-l from-transparent via-white to-transparent after:z-0",
				]}
				style="background-image:url('./summer/mlt-homepage-bookdirect-summer.jpeg')"
			>
				<div
					class="absolute inset-0 flex items-center justify-evenly gap-x-8 max-w-screen-lg mx-auto z-10"
				>
					<div
						class="flex-auto flex flex-col gap-y-8 items-center justify-center"
					>
						<h2 class="m-0 mb-8 uppercase">
							Book
							<span
								class="block leading-none tracking-widest font-playfair text-4xl text-primary"
								>Direct</span
							>
						</h2>

						<div
							class="relative flex items-center justify-center w-full max-w-36 p-6 aspect-square rounded-full bg-primary
								after:absolute after:inset-0 after:border-b after:border-dashed after:border-primary after:rounded-full after:opacity-50 after:scale-[3]"
						>
							<LogoIcon class="w-full max-w-12 text-white" />
						</div>
					</div>

					<div class="flex-auto"></div>

					<div class="flex-auto flex items-center justify-center">
						<ul class="list-disc">
							<li>Best rate guarante</li>
							<li>Flexible cancellations</li>
							<li>Exclusive room types & availability</li>
							<li>No unpleasant surprises</li>
						</ul>
					</div>
				</div>
			</div>
		</SectionContainer>

		<SectionContainer>
			<Bento />
		</SectionContainer>
	</main>
</Layout>

<style></style>
